html {
  background-image: url('/images/main_menu_background.svg');
  background-repeat: no-repeat;
  background-size: cover;

  /* Text defaults */
  color: white;
  padding: 1em 1em 1em 1em;
}

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  width: 295px;
    height: 75px;
    background: url('/images/erudite-button-normal.svg');
    background-size: 290px auto;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Montserrat, Helvetica;
}

.button:active {
    background: url('/images/erudite-button-pressed.svg');
    background-size: 290px auto;
    background-repeat: no-repeat;
    outline: none;
}

.button:disabled {
  background: url('/images/erudite-button-disabled.svg');
  background-size: 290px auto;
    background-repeat: no-repeat;
    outline: none;
}

.input {
  width: 295px;
    height: 75px;
    background: url('/images/erudite-input-field.svg');
    background-size: 290px auto;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Montserrat, Helvetica;
    text-align: center;
    font-style: italic;
    text-overflow: ellipsis;
}

.modal {
  height: 800px;
  overflow: auto;
}